# Répertoires de dépendances
node_modules
.pnpm-store

# Sorties de construction
.next
dist
build
out

# Fichiers de configuration et de développement
.env*
!.env.example
.vscode
.idea
coverage
.turbo
.cache

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de journalisation
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Fichiers de test
__tests__
*.test.*
*.spec.*

# Contrôle de version
.git
.gitignore
