@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bell-ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-bell-ring {
  animation: bell-ring 0.5s ease-in-out;
}
