@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.animate-shine {
  animation: shine 1.5s forwards;
}
